server {
    listen ${NGINX_SSL_PORT} ssl;
    listen [::]:${NGINX_SSL_PORT} ssl;
    http2 on;
    include "conf.d/include/gzip.conf";
    include "conf.d/include/site-block.conf";
    error_log  /log/nginx/komga.log error;
    access_log /log/nginx/komga.log main;
    server_name llm.${NGINX_HOST};
    client_max_body_size 512M;
    large_client_header_buffers 4 32k;

    include "conf.d/include/ssl.conf";
    ssl_certificate /var/www/certbot/config/live/llm.${NGINX_HOST}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /var/www/certbot/config/live/llm.${NGINX_HOST}/privkey.pem; # managed by Certbot
    ssl_trusted_certificate /var/www/certbot/config/live/llm.${NGINX_HOST}/chain.pem;
    location / {
        include "conf.d/include/proxy.headers.conf";
        proxy_set_header        Upgrade $http_upgrade;
        proxy_set_header        Connection "upgrade";
        proxy_pass              http://webui:3000;
    }
}