server {
    listen ${NGINX_SSL_PORT} ssl http2;
    listen [::]:${NGINX_SSL_PORT} ssl http2;
    include "./gzip.conf";
    include "./ssl.conf";
    error_log  /log/nginx/transmission.log warn;
    access_log /log/nginx/transmission.log;
    server_name transmission.${NGINX_HOST};
    location / {
        proxy_pass http://transmission:9091;
    }   
}