listen ${NGINX_PORT};
listen [::]:${NGINX_PORT};
location ^~ /.well-known/acme-challenge/ {
   root /var/www/certbot;
   allow all;
   try_files $uri =404;
   break;
}
location / {
   return 301 https://$host$request_uri;
}